.App {
  text-align: center;
}

.home-section {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;
  padding: 0 20px;
  background-color: #000000;
}

.text-wrapper {
  flex: 0 0 45%; /* Fix width to 45% */
  text-align: left;
  padding: 20px;
  margin-top: -200px;
}

.model-wrapper {
  flex: 0 0 45%; /* Fix width to 45% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section {
  padding: 100px 20px;
  margin-top: 50px;
}

.typing-container h1 {
  font-size: 2em;
  font-weight: 300; /* Make the font lighter */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column; /* Stack text on top of the model */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    padding-top: 200px; /* Add padding to prevent overlapping with navbar */
  }

  .text-wrapper {
    max-width: 100%; /* Full width */
    text-align: center; /* Center text */
    margin-bottom: 0; /* Reduce space between text and model */
    margin-top: 0px;
  }

  .model-wrapper {
    max-width: 100%; /* Full width */
    text-align: center; /* Center text */
    padding-top: 0;
    margin-top: -100px;
  }

  .typing-container h1 {
    font-size: 1.2em;
  }
}
