/* Import your font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

/* Apply the font globally */
body {
  font-family: 'Fira Code';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000; /* Set background color to black */
  color: white; /* Set text color to white for better readability */
}
